body{
    margin:0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}
.logo{
    height: 90px;
}





.imageBackground{
    width: 100vw;
    height: auto;
    max-width: 100%;

    
}


.homeIntro{
    position: relative;
    margin-bottom: 1em;

}

.mainImg{
    max-width: 100%;
    
}


.pageHeading{
    position: absolute;
    top: -5px;
    left: 8px;
    color: white;
}

.pageHeading h1{
    margin-bottom: 0;

}

.pageHeading p{
    margin-top: 0;
    padding-left: 1em;
}


.mainPageMenu{
    border: 1px solid black;
    
    padding: .25em 1em;
    margin-top: 1em;
    text-decoration: none;
    color: white;
    border-radius: .25em;
    background-color: #E2E6E6;
    background-color: black;
}

.mainPageMenu:hover,
.mainPageMenu:focus{
    padding: .5em 1.25em;
}

.menuContainer{
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}



.subMenu{
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */

    border: 1px solid red;
    display: flex;
    flex-direction: column;

   
}




footer{
    border-top: 1px solid grey;
    display: grid;

    
    
    
    

}

footer li{
    list-style: none;
   
}

h3{
   
    font-size: 1.5em;
}
.menu{

    text-align: center;
    margin: 0 .2rem;
}
.menuCategory{
    font-size: 2em;
}
.mainItem{
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 600;
}



.description{
    margin-top: .2em;
    font-size: 1em;
}

.brunchHeading{
    margin-bottom: .5rem;
}
.currentPromotion{
    margin-top: 0;
    font-size: 1.25em;

}


.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  

  }
  
 
  
  
  .topnav #myLinks {
    display: none;
  }

  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  } 

  .active{
      border: 1px solid red;
  }
