body{
    margin:0;
    padding: 0;
}




.imageBackground{
    width: 100vw;
    height: auto;
    max-width: 100%;

    
}


.homeIntro{
    background-image: url(images/mainpage-background.jpg);
    padding: 50px;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    border:1px solid red;
    align-items: flex-start;
}



.pageHeading{
    border: 1px solid red;
    align-self: left;
    text-align: left;
    /* width: 400px; */
    color: white;
    position: relative;
    margin-bottom:0;
    align-self: flex-start;

    
}

.homeIntro p{
    color: white;
    margin-top:0;
}


footer{
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

footer li{
    list-style: none;
   
}

.menu{

    text-align: center;
    margin: 0 .2rem;
}
.menuCategory{
    font-size: 2em;
}
.mainItem{
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 400;
}



.description{
    margin-top: .2em;
    font-size: 1em;
}

.brunchHeading{
    margin-bottom: .5rem;
}
.currentPromotion{
    margin-top: 0;
    font-size: 1.25em;

}


.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  

  }
  
 
  
  
  .topnav #myLinks {
    display: none;
  }

  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  } 

  .active{
      border: 1px solid red;
  }
